.container {
    border: 5px solid #ffcc5c;
    display: flex;
    /* flex-direction: row; */
    /* justify-content: flex-end; */
}

.item1 {
    order: 1;
}

.item2 {
    order: 0;
}

.item3 {
    order: -1;
}